/* Define la fuente personalizada */
@font-face {
  font-family: 'Futura-Bk-BT';
  src: url('../public//Font/FutuBk.ttf') format('truetype'); /* Ajusta la ruta si es necesario */
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


